# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vite
.env*
azure-pipelines.yml

node_modules
./.env
./azure-pipelines.yml
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
!/src/widgets/BookingFlow/ui/PaymentModal/index.tsx

./.env
./azure-pipelines.yml
.autopilot.json
.next
coverage