@import './variables';

.h-100 {
  height: 100%;
}

.h-unset {
  height: unset;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

.m-h-100  {
  height: 100%;
}

@each $size in $size-list {
  .min-height-#{$size} {
    min-height: #{$size}px;
  }
}

@each $size in $size-list {
  .max-height-#{$size} {
    max-height: #{$size}px;
  }
}

@each $size in $size-list {
  .width-#{$size} {
    width: #{$size}px !important;
  }
}

@each $size in $size-list {
  .height-#{$size} {
    height: #{$size}px !important;
  }
}


@for $i from 1 through 6 {
  .order-#{$i} {
    order: #{$i};
  }
}
